{% extends "django_openstack/nova/securitygroups/base.html" %}
{% load i18n %}

{% block title %} - Cloud Computing{% endblock %}

{% block content %}
  <div id="page_head">
    <h2>Security Group: {{ securitygroup.name }}</h2>
    <p>Add and remove protocols to the security group by authorizing and revoking port forwarding. For instance [tcp, 80, 80] will allow access to HTTP from devices outside this security group.</p>
  </div>

  {% include "django_openstack/_messages.html" %}

  <table>
    <tr>
      <th>Protocol</th>
      <th>From Port</th>
      <th>To Port</th>
      <th></th>
    </tr>
    {% for rule in securitygroup.rules %}
    <tr class="{% cycle 'odd' 'even' %}">
      <td>{{ rule.ip_protocol }}</td>
      <td class="odd">{{ rule.from_port }}</td>
      <td>{{ rule.to_port }}</td>
      <td class="odd">
        <form id="security_groups" method="post" action="{% url nova_securitygroups_revoke project.projectname securitygroup.name %}">
          {% csrf_token %}
          {% include "django_openstack/nova/securitygroups/_revoke_form.html" %}
          <input class="ui-state-default ui-corner-all" type="submit" value="Revoke" />
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>

  <div class="dash_block first">
    <form id="authorize" method="post" action="{% url nova_securitygroups_authorize project.projectname securitygroup.name %}">
      {% csrf_token %}
      <fieldset>
        <h3>Authorize</h3>
        {% include "django_openstack/nova/securitygroups/_authorize_form.html" %}
        <input class="attach" type="submit" value="Authorize" />
      </fieldset>
    </form>
  </div>
{% endblock %}
