{% extends "django_openstack/nova/securitygroups/base.html" %}
{% load i18n %}

{% block title %} - Cloud Computing{% endblock %}

{% block content %}
  <div id="page_head">
    <h2 id="page_heading">Security Groups</h2>
    <p id="page_description">Security groups are firewall rules which allow access to your instances from other groups as well as the internet.  All ports/protocols are denied by default.</p>
  </div>

  {% include "django_openstack/_messages.html" %}

  <table style="width:100%;">
    <tr>
      <th>Name</th>
      <th style="min-width:60%;">Description</th>
      <th>Rules</th>
      <th>&nbsp;</th>
    </tr>
    {% for securitygroup in securitygroups %}
      <tr class="{% cycle 'odd' 'even' %}">
        <td id="group_{{ securitygroup.id }}"><a href="{% url nova_securitygroups_detail project.projectname securitygroup.name %}">{{ securitygroup.name }}</a></td>
        <td id="group_{{ securitygroup.id }}_description" class="odd">{{ securitygroup.description }}</td>
        <td id="group_{{ securitygroup.id }}_rules">{{ securitygroup.rules|length }}</td>
        <td class="odd">
          <form id="delete_group_{{ securitygroup.id }}" method="post" action="{% url nova_securitygroups_delete project.projectname securitygroup.name %}">
            {% csrf_token %}
            <input class="ui-state-default ui-corner-all" type="submit" value="Delete">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
  <div class="dash_block first">
    <form id="add_group_form" method="post" action="{% url nova_securitygroups_add project.projectname %}">
      {% csrf_token %}
      <fieldset>
        <h3>New Group</h3>
        {% include "django_openstack/nova/securitygroups/_create_form.html" %}
        <label>&nbsp;</label><input class="ui-state-default ui-corner-all" type="submit" value="Create" />
       </fieldset>
    </form>
  </div>
{% endblock %}
